<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Confirmation</title>
  </head>
  <body>
    <h1>Applicants Data</h1>

    <b>Name: </b><%- name %><br />
    <b>Email Address: </b><%- email %><br />
    <b>GPA: </b><%- gpa %><br />
    <b>Background Information: </b><br />
    <%- info %><br />

    <hr />

    <b>Task completed at <%- date %></b>

    <hr />

    <a href="/">HOME</a>
  </body>
</html>
